body{
	font-family: 'Raleway';
}
div{
	margin: 50px;
}

h1{
	color: blue;
}
.nav{
	font-family: 'Raleway';
	padding: none;
	@navbar-height: 10px;
}

.nav .container .navbar-header { 
	height: 1px; 

}

/*ol {
	width: 200px;
	border: 2px dashed blue;
	margin: 15px;
}
ul{
	width: 200px;
	border: 2px dashed magenta;
	margin: 15px;
}*/