body{
	font-family: 'Raleway';
}


h1{
	color: blue;
}

.container .row .col-xs-12 {
	border: none;
	padding: none;
}

.about {
	margin: 50px;
}
.resume-body {
	margin: 50px;
}

/*ol {
	width: 200px;
	border: 2px dashed blue;
	margin: 15px;
}
ul{
	width: 200px;
	border: 2px dashed magenta;
	margin: 15px;
}*/